# Environments
pinn_atlas_env/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.spl
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
